.git
.gitignore
.DS_Store
.idea/
.mypy_cache/
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
venv/
.venv/
app/__pycache__/
app/.DS_Store
app/models/__pycache__
app/templates/__pycache__
app/templates/helpers/__pycache__